DB_DRIVER=pdo_mysql
DB_HOST=blog-db-1
DB_USER=bloguser
DB_PASSWORD=blogpassword
DB_NAME=blog_db
DB_CHARSET=utf8mb4

CACHE_DRIVER=redis
REDIS_SCHEME=tcp
REDIS_HOST=blog-redis-1
REDIS_PORT=6379
REDIS_PREFIX=blog_cache:
REDIS_TAG_PREFIX=blog_tag:

APP_ENV=dev

APP_DEBUG=false